/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}
body {
  height: 100%;
}

.container-fluid {
  height: 100%;
}

h4,h5,a, button, label, input {
  font-family: sans-serif;
}

.full-height {
  height: 100%;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.heightWithFooter {
  height: 95%;
}


.container-fluid {
  overflow-x: hidden;
  height: 100%;
  background: url('/assets/img/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-right: 0;
  margin-right: 0;
}

.collapseButton {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  color: #1F415D;
  background-color: white;
}
