  <a routerLink="/modules"><img src="../../assets/img/logoPersistent.png" class="pull-right" style="margin-top: 1.5%;" alt=""></a>
  <button class="btn btn-default pull-right customButton" (click)="goToAbout()"><i class="fa fa-info-circle faCustom"></i> About</button>
  <button class="btn btn-default pull-right customButton" (click)="logOut()"><i class="fa fa-sign-out faCustom"></i> Log out</button>
  <button class="btn btn-default pull-right customButton"><i class="fa fa-user-circle faCustom"></i> {{username}}</button>
  <button class="btn btn-default pull-right customButton" id="connectedButton" disabled><i class="fa fa-circle" style="color: lime; font-size: 12px;"></i> Connected</button>
