.faCustom {
  font-size: 18px;
  color: white;
}


.customButton {
  background-color: transparent;
  color: white;
  font-size: 15px;
  padding-right: 0;
  padding-left: 0;
  margin-top: 1.5%;
  margin-right: 1%;
}

#connectedButton {
  cursor: unset;
}

#connectedButton:disabled {
  opacity: 1;
}
