<div class="container-fluid">
  <div class="heightWithFooter">
    <div class="row">
      <div class="col-6 col-sm-6 col-md-6 col-lg-6"></div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-6">
        <app-header></app-header>
      </div>
    </div>
    <div class="row paddingTop">
      <div class="col-sm-2"><a routerLink="/live-monitoring"><img src="../../assets/img/cloud.png" alt="" class="img-fluid" style="height: 200px"> </a></div>
      <div class="col-sm-2"><a routerLink="/modules" (click)="alert()"><img src="../../assets/img/planning.png" alt="" class="img-fluid" style="height: 200px"></a></div>
      <div class="col-sm-2"><a routerLink="/modules" (click)="alert()"><img src="../../assets/img/map.png" alt="" class="img-fluid" style="height: 200px"></a></div>
      <div class="col-sm-2"><a routerLink="/modules" (click)="alert()"><img src="../../assets/img/optimization.png" alt="" class="img-fluid" style="height: 200px"></a></div>
      <div class="col-sm-2"><a routerLink="/modules" (click)="alert()"><img src="../../assets/img/son.png" alt="" class="img-fluid" style="height: 200px"></a></div>
      <div class="col-sm-2"><a routerLink="/configuration-browser"><img src="../../assets/img/dataSettings.png" alt="" class="img-fluid" style="height: 200px"></a></div>
    </div>
    <br>
    <div class="row paddingBottom">
      <div class="col-sm-2"><a routerLink="/modules" (click)="alert()"><img  src="../../assets/img/chart.png" alt="" class="img-fluid" style="height: 200px" width="200px"></a></div>
      <div class="col-sm-2"><a routerLink="/customer-experience"><img  src="../../assets/img/customerExperience.png" alt="" class="img-fluid" style="height: 200px" width="200px"></a></div>
      <div class="col-sm-2"><a routerLink="/modules" (click)="alert()"><img  src="../../assets/img/trace.png" alt="" class="img-fluid" style="height: 200px" width="200px"></a></div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
