<div class="row heightWithFooter" style="margin-right: 0;">
  <div class="col-6 col-sm-4 col-lg-3 no-padding full-height" style="padding-left: 10px;" id="monitorSideBar">
    <div class="row no-padding no-gutters full-height">
      <div id="accordion" class="col-11 col-sm-11 col-lg-11" style="background-color: white;">
        <!--<div class="card">-->
        <!--<div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
        <!--<h5 class="mb-0">-->
        <!--<h4>-->
        <!--<span class="fa fa-angle-double-up" style="font-size: 18px;"></span>&nbsp;Operator-->
        <!--</h4>-->
        <!--</h5>-->
        <!--</div>-->

        <!--<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">-->
        <!--<div class="card-body">-->
        <!--<div class="radio">-->
        <!--<label><input type="radio" name="operator" [(ngModel)]="operator" value="60203">&nbsp;Etisalat</label>-->
        <!--</div>-->
        <!--<div class="radio">-->
        <!--<label><input type="radio" name="operator" [(ngModel)]="operator" value="60202">&nbsp;Vodafone</label>-->
        <!--</div>-->
        <!--<div class="radio">-->
        <!--<label><input type="radio" name="operator" [(ngModel)]="operator" value="60201">&nbsp;Orange</label>-->
        <!--</div>-->
        <!--<div class="radio">-->
        <!--<label><input type="radio" name="operator" [(ngModel)]="operator" value="60204">&nbsp;Telecom Egypt</label>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <div class="card">
          <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <h5 class="mb-0">
              <h4>
                <span class="fa fa-angle-double-up" style="font-size: 18px;"></span>&nbsp;Technology
              </h4>
            </h5>
          </div>

          <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="technology" id="2G" value="option1" (change)="onTechnologySelect(2)" [checked]="technology === 2">
                <label class="form-check-label" for="2G">2G</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="technology" id="3G" value="option2" (change)="onTechnologySelect(3)" [checked]="technology === 3">
                <label class="form-check-label" for="3G">3G</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="technology" id="4G" value="option3" (change)="onTechnologySelect(4)" [checked]="technology === 4">
                <label class="form-check-label" for="4G">4G</label>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            <h5 class="mb-0">
              <h4>
                <span class="fa fa-angle-double-down" style="font-size: 18px;"></span>&nbsp;KPIs
              </h4>
            </h5>
          </div>

          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              <select name="kpi" id="kpi">
                <option>Select a technology</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <h5 class="mb-0">
              <h4>
                <span class="fa fa-angle-double-down" style="font-size: 18px;"></span>&nbsp;Roaming
              </h4>
            </h5>
          </div>

          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="roaming" id="inlineRadio1" value="on">
                <label class="form-check-label" for="inlineRadio1">On</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="roaming" id="inlineRadio2" value="off" checked>
                <label class="form-check-label" for="inlineRadio2">Off</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="roaming" id="inlineRadio3" value="nationalRoaming">
                <label class="form-check-label" for="inlineRadio3">National Roaming</label>
              </div>
              <!--<div class="form-check">-->
              <!--<input class="form-check-input" type="radio" name="roaming" id="liveMonitoringIMSIRadioButton" value="IMSI">-->
              <!--<label class="form-check-label" for="liveMonitoringIMSIRadioButton">IMSI</label>-->
              <!--<input class="form-control" id="liveMonitoringIMSI" placeholder="ex: 6020xxxxxxxxxxx" style="width: 60%; display: none;">-->
              <!--</div>-->
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
            <h5 class="mb-0">
              <h4>
                <span class="fa fa-angle-double-down" style="font-size: 18px;"></span>&nbsp;Date
              </h4>
            </h5>
          </div>

          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
              <h5 style="padding-left: 3%;">From</h5>
              <div class="row">
                <div class="col-sm-6">
                  <label>
                    <input type="date" id="startDateMonitor">
                  </label>
                </div>
                <div class="col-sm-6">
                  <label>
                    <input type="time" id="startTimeMonitor" step="1">
                  </label>
                </div>
              </div>
              <h5 style="padding-left: 3%;">To</h5>
              <div class="row">
                <div class="col-sm-6">
                  <input type="date" id="endDateMonitor">
                </div>
                <div class="col-sm-6">
                  <input type="time" id="endTimeMonitor" step="1">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSix" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
            <h5 class="mb-0">
              <h4>
                <span class="fa fa-angle-double-down" style="font-size: 18px;"></span>&nbsp;Output
              </h4>
            </h5>
          </div>

          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4"><label class="checkbox-inline"><input type="checkbox" value="maps" name="output" checked>&nbsp;Maps</label></div>
                <div class="col-sm-4"><label class="checkbox-inline"><input type="checkbox" value="charts" name="output">&nbsp;Charts</label></div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSeven" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
            <h5 class="mb-0">
              <h4>
                <span class="fa fa-angle-double-down" style="font-size: 18px;"></span>&nbsp;Sensitivity
              </h4>
            </h5>
          </div>

          <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
                  <span id="mapSensitivityContainer">
                    <label for="mapSensitivity">Map Sensitivity:</label>
                    <input type="text" id="mapSensitivity" readonly style="border:0;">
                  </span>
              <div id="slider"></div>
              <span id="chartSensitivityContainer" style="display: none; padding-top: 2%">
                    <label for="chartSensitivity" style="margin-top: 2%">Chart Sensitivity:</label>
                    <select name="chartSensitivity" id="chartSensitivity">
                      <option>Daily</option>
                      <option>Hourly</option>
                    </select>
                  </span>
              <div class="form-group text-center" style="margin-top: 3%; margin-bottom: 0;">
              <span class="switch">
                <input type="checkbox" class="switch" id="indoorSwitch">
                <label for="indoorSwitch">Indoor</label>
              </span>
              </div>
              <!--<div class="col-sm-6">-->
              <!--<button type="button" class="btn btn-primary btn-block" style="padding-top: 2%" (click)="createMapQuery()">KML</button>-->
              <!--</div>-->
            </div>
          </div>
        </div>
        <!--<div class="row" style="margin-left: 0; padding-right: 0;" id="runButtonContainer">-->
          <!--<div class="col-sm-12" style="margin-top: 3%; padding-left: 0">-->
            <!--<button type="button" class="btn btn-secondary btn-block" style="font-size: 18px" (click)="sendQuery()">Run</button>-->
            <!--&lt;!&ndash;<button type="button" class="btn btn-primary btn-block" style="padding-top: 2%" (click)="fade()">Fade</button>&ndash;&gt;-->
          <!--</div>-->
        <!--</div>-->
      </div>
      <div class="col-1 col-sm-1 col-lg-1 no-padding full-height" id="collapseButtonDivMonitor">
        <button class="btn btn-secondary full-height collapseButton" id="collapseButtonMonitor" style="background-color: #f7f7f7"><i class="fa fa-angle-double-left" style="font-size: 18px"></i></button>
      </div>
    </div>
  </div>


    <div id="loadingModal" class="modal hide" role="dialog" style="width: 50%; margin: 0 auto; top: 50%;">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Loading data</h3>
        </div>
        <div class="modal-body" style="left:45%">
          <i class="fa fa-spinner fa-spin" style="font-size:60px"></i>
        </div>
      </div>
    </div>

  <div class="col-6 col-sm-8 col-lg-9 no-padding" id="map-container">
    <div class="row" style="background-color: transparent; margin-right: 0" id="tabBarLiveMonitoring">
      <div class="col-12 col-sm-12">
        <ul class="nav nav-tabs" id="mapTabs" role="tablist" style="padding-top: 1%; padding-left: 1%; border-color: #1F415D">
          <li class="nav-item" *ngFor="let map of limit; let i=index" id="map{{i}}List" style="display: none">
            <div class="nav-link" id="map{{i}}Tab" data-toggle="tab" attr.data-target="#map{{i}}Container" role="tab" attr.aria-controls="map{{i}}Container" aria-selected="false"><span class="tabName" contenteditable="true" id="map{{i}}TabName">Map {{i+1}}</span>&nbsp;<i class="fa fa-times" (click)="close($event, i, 'map')"></i></div>
          </li>
          <li class="nav-item" *ngFor="let chart of limit; let i=index"  id="chart{{i}}List" style="display: none">
            <div class="nav-link" id="chart{{i}}Tab" data-toggle="tab" attr.data-target="#chart{{i}}Container" role="tab" attr.aria-controls="chart{{i}}Container" aria-selected="false"><span class="tabName" contenteditable="true" id="chart{{i}}TabName">Chart {{i+1}}</span>&nbsp;<i class="fa fa-times" (click)="close($event, i, 'chart')"></i></div>
          </li>
        </ul>
      </div>
    </div>


    <div class="tab-content" id="bigContainer">
      <div *ngFor="let map of limit; let i=index" class="tab-pane fade full-height" id="map{{i}}Container" role="tabpanel" attr.aria-labelledby="map{{i}}Tab">
        <div id="map{{i}}" style="height:100%"></div>
        <div id="capture{{i}}"></div>
        <div id="legend{{i}}" style="font-family: Arial, sans-serif; background-color: rgba(255,255,255,0.5); padding: 10px; margin: 10px; border: 3px solid #000;"><h5>Legend</h5></div>
      </div>
      <div *ngFor="let chart of limit; let i=index" class="tab-pane fade full-height gray" id="chart{{i}}Container" role="tabpanel" attr.aria-labelledby="chart{{i}}Tab">
        <br>
        <br>
        <div class="row">
          <div class="col-10 col-sm-10 offset-1 offset-sm-1">
            <canvas id="chart{{i}}" style="width:50%; height: 50%"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="height: 5%">
  <div class="col-6 col-sm-4 col-lg-3" style="padding-left: 10px; padding-right: 25px" id="runButtonDiv">
    <button type="button" class="btn btn-secondary btn-block" style="font-size: 18px; background: linear-gradient(white, gray)" id="monitorQueryButton" (click)="sendQuery()">Run</button>
  </div>
  <div class="col-lg-2">

  </div>
  <div class="col-lg-2">
  </div>
  <div class="col-lg-4">

  </div>
  <div class="col-lg-1">
  </div>
</div>
