<div class="row" id="footer" style="height: 5%; border: #1F415D 1px solid">
  <div class="col-6 col-sm-4 col-lg-3" style="padding-left: 10px;">

  </div>
  <div class="col-lg-2">

  </div>
  <div class="col-lg-2">
    <div style="color: white; margin-top: 2%;">&copy; Copyrights 2018 LyticsHub and DigiS<sup>2</sup></div>
  </div>
  <div class="col-lg-4">
  </div>
  <div class="col-lg-1">
    <img src="../../assets/img/logoDigis2.png" alt="" style="width: 33%">
    <img src="../../assets/img/logoFooter.png" alt="" style="width: 33%">
  </div>
</div>
