<div class="container-fluid">
  <div class="row" style="background-color: transparent; margin-right: 0" id="headerLiveMonitoring">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
  <ul class="nav nav-tabs" id="myTab" role="tablist" style="padding-top: 1%">
    <li class="nav-item">
      <a class="nav-link active" id="monitor-tab" data-toggle="tab" href="#monitor" role="tab" aria-controls="monitor" aria-selected="true">Monitor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="activeTest-tab" data-toggle="tab" href="#activeTest" role="tab" aria-controls="activeTest" aria-selected="false">Active Test</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false">Dashboard</a>
    </li>
    </ul>
      </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 0">
      <app-header></app-header>
    </div>
  </div>
  <div class="tab-content full-height" id="myTabContent">
    <div class="tab-pane fade show active full-height" id="monitor" role="tabpanel" aria-labelledby="monitor-tab">
      <app-monitor></app-monitor>
    </div>
    <div class="tab-pane fade" id="activeTest" role="tabpanel" aria-labelledby="activeTest-tab">
      <app-active-test></app-active-test>
    </div>
    <div class="tab-pane fade full-height" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
      <app-dashboard></app-dashboard>
    </div>
  </div>
</div>
