<div class="row full-height" style="margin-right: 0;">
  <div class="col-4 col-sm-4 col-lg-3 no-padding full-height" style="padding-left: 10px;" id="activeTestSideBar">
    <div class="row no-padding no-gutters full-height">
      <div id="accordion2" class="col-sm-11" style="background-color: white;">

        <div class="card">
          <div class="card-header" id="headingLiveStatusCheck"
               data-toggle="collapse" data-target="#collapseLiveStatusCheck" aria-expanded="true" aria-controls="collapseLiveStatusCheck">
            <h5 class="mb-0">
              <h4>
                <span class="fa fa-angle-double-up" style="font-size: 18px;"></span>&nbsp;Live Status Check
              </h4>
            </h5>
          </div>

          <div id="collapseLiveStatusCheck" class="collapse show" aria-labelledby="headingLiveStatusCheck" data-parent="#accordion2">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4">

                  <div class="form-inline" style="padding-left: 2%">
                    <label for="imsiLiveStatusCheck"><b>IMSI</b> &nbsp; &nbsp;</label>
                    <input type="text" class="form-control" id="imsiLiveStatusCheck" style="margin-right: 2%">
                    <button class="btn btn-primary" (click)="liveStatusCheck()">Check</button>
                  </div>

                </div>
              </div>


            </div>
          </div>
        </div>


        <div class="card">
          <div class="card-header" id="headingLiveTesting"
               data-toggle="collapse" data-target="#collapseLiveTesting" aria-expanded="true" aria-controls="collapseLiveTesting">
            <h5 class="mb-0">
              <h4>
                    <span class="fa fa-angle-double-down" style="font-size: 18px;">


                  </span>&nbsp;Live Testing
              </h4>
            </h5>
          </div>

          <div id="collapseLiveTesting" class="collapse" aria-labelledby="headingLiveTesting" data-parent="#accordion2">
            <div class="card-body">
              <div class="radio">
                <label><input type="radio" name="livetesting" value="imsiSelect" checked>&nbsp; IMSI</label>
                <br>
                <div id="imsiMultipleSelectContainer">
                  <select multiple="multiple" id="imsiLiveTesting">

                  </select>
                </div>


                <br> <br>

                <div class="radio">
                  <label><input type="radio" name="livetesting" value="imsiFile">&nbsp; IMSIs File</label>
                  <br>
                  <div id="imsisFileButtons" style="display: none;">
                    <label class="btn btn-secondary" style="margin-bottom: 0">Choose File...<input type="file" style="margin-left: 3%" id="imsiFileInput" hidden></label>
                    <button class="btn btn-secondary" (click)="downloadTemplate()">Download Template</button>
                  </div>
                </div>

              </div>
            </div>
          </div>


        </div>
        <div class="card">
          <div class="card-header" id="headingTestScenarios" data-toggle="collapse" data-target="#collapseTestScenarios" aria-expanded="true" aria-controls="collapseTestScenarios">
            <h5 class="mb-0">
              <h4>
                <span class="fa fa-angle-double-down" style="font-size: 18px;"></span>&nbsp;Test Scenarios
              </h4>
            </h5>
          </div>

          <div id="collapseTestScenarios" class="collapse" aria-labelledby="headingTestScenarios" data-parent="#accordion2">
            <div class="card-body">
              <div class="checkbox">
                <label><input type="checkbox" value="" id="downlinkSpeed">&nbsp;&nbsp;DL Speed Test</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" id="uplinkSpeed">&nbsp;&nbsp;UL Speed Test</label>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="checkbox">
                    <label><input type="checkbox" value="" id="pingActiveTest">&nbsp;&nbsp;Ping</label>
                  </div>
                </div>
                <div class="col-sm-4">

                </div>
                <nav class="navbar navbar-light">
                  <div class="row no-padding no-gutters">
                    <div class="col-sm-6">
                      <form class="form-inline">
                        <div class="input-group">
                          <div class="input-group-prepend">
                          </div>
                          <input type="text" class="form-control" placeholder="Number of Pings" aria-label="Username" aria-describedby="basic-addon1" value="100" id="pingNumber">
                        </div>
                      </form>
                    </div>

                    <div class="col-sm-6">
                      <form class="form-inline">
                        <div class="input-group">
                          <div class="input-group-prepend">
                          </div>

                          <input type="text" class="form-control" placeholder="URL" aria-label="Username" aria-describedby="basic-addon1" value="www.google.com" id="pingAddr">
                        </div>
                      </form>
                    </div>
                  </div>
                </nav>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" id="httpDownload">&nbsp;&nbsp;HTTP Download</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" id="httpDelay">&nbsp;&nbsp;HTTP Get Delay</label>
              </div>
              <div class="row">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-4">

                </div>

                <nav class="navbar navbar-light">
                  <form class="form-inline">
                    <div class="input-group">
                      <div class="input-group-prepend">

                      </div>
                      <input type="text" class="form-control" placeholder="URL" aria-label="Username" aria-describedby="basic-addon1" value="www.facebook.com" id="httpURL">
                    </div>
                  </form>
                </nav>
              </div>
              <button class="btn btn-secondary" (click)="sendQuery()">Send</button>
              <button class="btn btn-secondary" (click)="clearTable()">Clear</button>

              <!--<button class="btn btn-secondary" (click)="mockData(1)">Mock1</button>-->
              <!--<button class="btn btn-secondary" (click)="mockData(2)">Mock2</button>-->

            </div>
          </div>
        </div>

      </div>
      <div class="col-1 col-sm-1 col-lg-1 no-padding full-height" id="collapseButtonDivActiveTest">
        <button class="btn btn-secondary full-height collapseButton" id="collapseButtonActiveTest" style="background-color: #f7f7f7"><i class="fa fa-angle-double-left" style="font-size: 18px"></i></button>
      </div>
    </div>

  </div>
  <div class="col-8 col-sm-8 col-lg-9 no-padding full-height" id="activeTestContainer">
    <div id="mapActiveTest"></div>
    <div style="overflow-y: scroll; height: 50%; background-color: white;">
      <table class="table table-sm" style="margin-bottom: 0" id="imsiTable">
        <thead class="thead-light">
        <tr>
          <th scope="col">IMSI</th>
          <th scope="col">Status</th>
          <th scope="col">FTP DL (Mbps)</th>
          <th scope="col">FTP UL (Mbps)</th>
          <th scope="col">Ping Delay (mSec)</th>
          <th scope="col">HTTPs DL (Mbps)</th>
          <th scope="col">HTTPs Delay (mSec)</th>
        </tr>
        </thead>
        <tbody id="tableBody">
        <tr id='imsi0'></tr>
        </tbody>
      </table>
    </div>

  </div>
</div>




