


.btn-primary {
  color: #1f425e;
  background-color: lightgray;
  border-color: #6c757d;
  margin-top: 10px;
}

.btn-secondary{
  color: #1f425e;
  background-color: lightgray;

}

h4 {

  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}




h5 {

  font-family: sans-serif;
}


b {

  font-family: sans-serif
}

#mapActiveTest {
  height: 50%;
}

.table{
  height: 100%;
}

tr {
  background-color: white;
}

#accordion2 {
  /*padding-left: 10px;*/
}

.ms-parent {
 width: 100%;
}

#imsiLiveTesting {
  width: 100%;
}

[hidden]{
  display: none !important;
}




