.container-fluid {
  height: 100%;
  background: url('../../assets/img/about.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-right: 0;
  margin-right: 0;
}

@font-face {
  font-family: 'highlandgothicflfregular';
  src: url('../../assets/fonts/highlandgothicflf-webfont.eot');
  src: url('../../assets/fonts/highlandgothicflf-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/highlandgothicflf-webfont.woff') format('woff'),
  url('../../assets/fonts/highlandgothicflf-webfont.ttf') format('truetype'),
  url('../../assets/fonts/highlandgothicflf-webfont.svg#highlandgothicflfregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.customFont {
  color: #d0d0d0;
  font-size: 36px;
  font-family: 'highlandgothicflfregular';
}

#logoAbout {
  margin-top: 7%;
}

@media only screen and (height: 768px) and (width: 1366px) {
  .img-fluid {
    width: 100%;
  }
  .offset-lg-2 {
    margin-left: 28%;
  }
  .offset-2 {
    margin-left: 10%;
  }
  #logoAbout {
    margin-top: 5%;
  }
  .customFont {
    font-size: 30px;
  }
}

