<div class="container-fluid">
  <!--<div class="row no-gutters" style="padding-top: 8%;">-->
    <!--<div class="col-10 offset-2 customFont">-->
      <!--<div class="row no-gutters">-->
        <!--<div class="col-12">-->
          <!--LyticsHubGeo is an adequate solution for Network Quality Audits.<br>-->
          <!--It's a powerful and comprehensive wireless audit solution that<br>-->
          <!--allows for efficient and accurate network analysis at any point<br>-->
          <!--in time based on live field data collected from Cell Phones.-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row align-items-end no-gutters" id="logoAbout">-->
        <!--<div class="col-4 offset-md-3 offset-lg-2">-->
          <!--<img src="../../assets/img/logo.png" alt="" class="img-fluid">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>
