/*body {*/

  /*height: 100%;*/
  /*background-color: white;*/
/*}*/

/*html {*/

  /*height: 100%;*/
/*}*/

/*.row {*/

  /*height: 100%;*/
  /*background-color: #f2f2f2;*/
/*}*/


/*.container-fluid {*/

  /*height: 100%;*/
  /*padding-right: 0%;*/
  /*padding-left: 0%;*/
  /*!*    background-color: #f2f2f2;*!*/
/*}*/
.btn-secondary {
  color: #1f425e;
  background-color: white;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: #dee2e6;
  border-color: #dee2e6 #dee2e6 #fff;
  cursor: pointer;
}

.nav-tabs .nav-link {
  color: white;
  cursor: pointer;
}

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

.fa-times:hover {
  color: red;
}


.cbSideBarUpperHalf {
  background-color: white;
  height: 70%;
  overflow-y: auto;
}

.cbSideBarLowerHalf {

  height: 30%;
  background-color: transparent;

}


.container-fluid {
  overflow-y: hidden;
}


input {
  margin-left: 1%;
}


table {
  overflow-y: auto;
  background-color: white;
  margin-bottom: 0;
}

#cbVendorTablesContent{
  overflow-y: auto;
}

.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px;
}


