<div class="container-fluid">


  <div class="row no-padding no-gutters" id="cbHeader">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
      <ul class="nav nav-tabs" id="cbVendors" role="tablist" style="padding-top: 1%; border-bottom: none;">
        <li class="nav-item" *ngFor="let vendor of vendors; let i=index">
          <a class="nav-link" [ngClass]="{'active': i === 0}" id="{{vendor}}-tab" data-toggle="tab" href="#{{vendor}}TableNames" role="tab" attr.aria-controls="{{vendor}}TableNames" aria-selected="true">{{vendor}}</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 0">
      <app-header></app-header>
    </div>
  </div>
  <div class="row no-gutters no-padding" id="cbContent">
    <div class="col-md-3 full-height" id="cbSideBar">
      <div class="tab-content full-height" id="cbVendorTables">
        <div class="tab-pane fade show full-height" [ngClass]="{'active': i === 0}" *ngFor="let vendor of vendors; let i=index" id="{{vendor}}TableNames" role="tabpanel" attr.aria-labelledby="{{vendor}}-tab">
          <div class="cbSideBarUpperHalf">

            <div class="input-group" style="width: 100%; margin-bottom: 1.5%">
              <input type="text" class="form-control" placeholder="Search..." aria-label="Search..." attr.aria-describedby="basic-addon{{vendor}}" id="{{vendor}}Search" (keyup)="search($event,vendor)">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon{{vendor}}"><i class="fa fa-search"></i></span>
              </div>
            </div>
            <div class="input-group" style="display: inline; margin-bottom: 1.5%">
              <label style="margin-left: 2%">By:</label>
              <div class="form-group" style="width:90%; margin-bottom: 0; display: inline">
                <input type="radio" name="{{vendor}}Search" value="table" id="{{vendor}}SearchTable" checked (change)="collapseAll(vendor, true)">
                <label for="{{vendor}}SearchTable">Family</label>
                <input type="radio" name="{{vendor}}Search" value="param" id="{{vendor}}SearchParam" (change)="collapseAll(vendor, false)">
                <label for="{{vendor}}SearchParam">Parameter</label>
              </div>
            </div>
            <div *ngFor="let vendorTableName of vendorTableNames[i]; let j=index" style="height: 37px" id="{{vendor}}{{vendorTableName}}Container">
              <div class="form-group" style="margin-bottom: 0" id="{{vendor}}{{vendorTableName}}Group">
                <input type="checkbox" name="{{vendor}}" value="{{vendorTableName}}" id="{{vendor}}{{vendorTableName}}" (change)="checkChildren(vendor, vendorTableName)">
                <label for="{{vendor}}{{vendorTableName}}" id="{{vendor}}{{vendorTableName}}Label" style="width: 90%"><span>{{vendorTableName}}</span><button class="btn btn-sm pull-right" style="background: transparent;" (click)="collapseParams(vendor,vendorTableName)"><i class="fa fa-angle-down" style="font-size: 18px; color: #1F415D"></i></button></label>
              </div>
              <div class="form-group" *ngFor="let vendorTableParameters of vendorTableParams[i][j];" style="display: none;" id="{{vendor}}{{vendorTableName}}ParamGroup">
                <div *ngFor="let vendorTableParam of vendorTableParameters;" style="margin-left: 2%;">
                  <div class="form-group" style="margin-bottom: 0" id="{{vendor}}{{vendorTableName}}{{vendorTableParam}}Group">
                    <input type="checkbox" name="{{vendor}}{{vendorTableName}}Param" value="{{vendorTableParam}}" id="{{vendor}}{{vendorTableName}}{{vendorTableParam}}" (change)="checkParent(vendor, vendorTableName)">
                    <label for="{{vendor}}{{vendorTableName}}{{vendorTableParam}}" style="width: 90%">{{vendorTableParam}}</label>
                  </div>
                </div>
                <br>
              </div>

              <br>
            </div>
          </div>
          <div class="cbSideBarLowerHalf">
            <div class="row full-height">
              <div class="col-md-12">


                <br>
                <input type="radio" name="{{vendor}}Site" value="all" id="{{vendor}}AllSites" style="margin-left: 5%;" checked (change)="toggleMultiSelectContainer(vendor,false)">
                <label for="{{vendor}}AllSites" style="color: white">All Sites</label>
                <br>

                <input type="radio" name="{{vendor}}Site" value="single" id="{{vendor}}SingleSite" style="margin-left: 5%;" (change)="toggleMultiSelectContainer(vendor,true)">
                <label for="{{vendor}}SingleSite" style="color: white">Specific Site(s)</label>
                <div id="{{vendor}}SingleSiteContainer" style="display: none; margin-top: 1%">
                  <select multiple="multiple" id="{{vendor}}SingleSiteMultipleSelect" style="width: 100%;">

                  </select>
                </div>

                <button type="button" class="btn btn-sm btn-block btn-secondary" style="margin-top: 2%; font-size: 18px" id="{{vendor}}QueryButton" (click)="sendQuery()">
                  Query
                </button>
                <div id="{{vendor}}TableMultipleSelectContainer" style="display: none; margin-top: 1%">
                  <select multiple="multiple" id="{{vendor}}TableMultipleSelect" style="width: 100%;">

                  </select>
                </div>

                <button class="btn btn-block btn-secondary" style="margin-top: 2%;" (click)="exportExcel(i)">Export to Excel</button>




              </div>
            </div>

          </div>
        </div>
      </div>



    </div>
    <div class="col-md-9 full-height">



      <ul class="nav nav-tabs" id="cbVendorTablesResult" role="tablist" style="border-bottom: none">
        <li class="nav-item" *ngFor="let responseTableName of responseTableNames; let i=index">
          <div class="nav-link" [ngClass]="{'active': i === 0}" id="{{responseTableName}}TableTab" data-toggle="tab" attr.data-target="#{{responseTableName}}TableContent" role="tab" attr.aria-controls="{{responseTableName}}TableContent" aria-selected="true">{{responseTableName}}&nbsp;<i class="fa fa-times" (click)="close(i)"></i></div>
        </li>
      </ul>
      <div class="tab-content full-height" id="cbVendorTablesContent">
        <div class="tab-pane fade show" [ngClass]="{'active': i === 0}" *ngFor="let responseTableName of responseTableNames; let i=index" id="{{responseTableName}}TableContent" role="tabpanel" attr.aria-labelledby="{{responseTableName}}TableTab">
          <table class="table table-striped full-height" id="{{responseTableName}}Table">
            <thead>
            <tr>
              <th scope="col" class="text-center" style="min-width: 200px;" *ngFor="let responseTableParam of responseTableParams[i][0]; let j=index">{{responseTableParam}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let responseTableValue of responseTableValues[i];">
              <td class="text-center" style="min-width: 200px;" *ngFor="let responseTableSingleValue of responseTableValue;">{{responseTableSingleValue}}</td>
            </tr>
            </tbody>
          </table>
          <div class="row no-padding no-gutters" style="margin-top: 3%;">
            <div class="col-sm-2 offset-sm-5">
            </div>
          </div>



        </div>
      </div>

    </div>
  </div>
  <!--<app-footer></app-footer>-->



</div>

