<div class="full-height">
  <ul class="nav nav-tabs" id="categoryList" role="tablist">
    <li class="nav-item" *ngFor="let category of categories; let i=index">
      <a class="nav-link" id="{{category}}-tab" data-toggle="tab" href="#{{category}}" [ngClass]="{'active': i === 0}" role="tab" attr.aria-controls="{{category}}" (click)="adjustHeight()">{{categoriesHumanNames[i]}}</a>
    </li>
  </ul>
  <div class="tab-content" id="categoryContent">
    <div class="tab-pane fade show full-height" *ngFor="let category of categories; let i=index" id="{{category}}" [ngClass]="{'active': i === 0}" role="tabpanel" attr.aria-labelledby="{{category}}-tab">
      <ul class="nav nav-tabs" role="tablist" id="{{category}}SubCategoryTabList">
        <li class="nav-item" *ngFor="let subCategory of subCategories[i]; let j=index">
          <a class="nav-link" id="{{subCategory}}{{category}}Tab" [ngClass]="{'active': j === 0}" data-toggle="tab" href="#{{subCategory}}{{category}}" role="tab" aria-controls="" (click)="adjustHeight()">{{subCategoriesHumanNames[i][j]}}</a>
        </li>
      </ul>
      <div class="tab-content" id="{{category}}SubCategoryContent">
        <div class="tab-pane fade show full-height" *ngFor="let subCategory of subCategories[i]; let j=index" [ngClass]="{'active': j === 0}" id="{{subCategory}}{{category}}" role="tabpanel" attr.aria-labelledby="{{subCategory}}{{category}}Tab" style="background-color: white;">
          <div class="row no-padding no-gutters full-height">
            <div class="col-9 col-sm-9 col-lg-9 offset-1 offset-sm-1 offset-lg-1 full-height">
              <canvas id="{{subCategory}}{{category}}Chart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
