<div class="container-fluid no-padding">
  <div class="row no-gutters no-padding" id="ceHeader">

    <div class="col-6 offset-6" style="padding-right: 0">
      <app-header></app-header>
    </div>
  </div>
  <div class="row no-padding no-gutters" id="queryCriteriaCE" style="margin-bottom: 0.5%;">
    <div class="col-sm-4 offset-sm-2">
      <label for="imsiCE">IMSI</label>
      <input type="text" class="form-control" id="imsiCE" style="width: 90%;" placeholder="Enter IMSI">
    </div>
    <div class="col-sm-4">
      <div class="row no-gutters no-padding">
        <div class="col-sm-6 col-md-6">
          <label for="dateFromCE">From</label>

          <input class="form-control" type="date" value="2011-08-19" id="dateFromCE" style="width: 90%;"></div>
        <div class="col-6 col-md-6"> <label for="dateToCE">To</label>

          <input class="form-control" type="date" value="2011-08-19" id="dateToCE" style="width: 90%;"></div>
      </div>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-outline-light" (click)="sendQuery()" id="queryButtonCE">Query</button>
    </div>
  </div>



  <div class="row no-gutters no-padding" id="ceTabs">
    <ul class="nav nav-tabs" role="tablist">
      <!--<li class="nav-item">-->
        <!--<a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview">Overview</a>-->
      <!--</li>-->
      <li class="nav-item" *ngFor="let category of categories; let i=index">
        <a class="nav-link" id="{{category}}-tab" data-toggle="tab" href="#{{category}}" role="tab" attr.aria-controls="{{category}}" [ngClass]="{'active': i === 0}" (click)="adjustChartHeight(subCategories[i][0], category)">{{categoriesHumanNames[i]}}</a>
      </li>
    </ul>
  </div>

  <div class="row no-gutters no-padding" id="ceTabContent">
    <div class="tab-content full-height" style="width: 100%;">
      <!--<div class="tab-pane show active full-height" id="overview" role="tabpanel" aria-labelledby="overview-tab" style="background-color: white">-->

      <!--</div>-->
      <div class="tab-pane fade show full-height" *ngFor="let category of categories; let i=index" id="{{category}}" role="tabpanel" attr.aria-labelledby="{{category}}-tab" [ngClass]="{'active': i === 0}">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" *ngFor="let subCategory of subCategories[i]; let j=index">
            <a class="nav-link" id="{{subCategory}}{{category}}Tab" [ngClass]="{'active': j === 0}" data-toggle="tab" href="#{{subCategory}}{{category}}" role="tab" aria-controls="" (click)="adjustChartHeight(subCategory, category)">{{subCategoriesHumanNames[i][j]}}</a>
          </li>
        </ul>
        <div class="tab-content full-height">
          <div class="tab-pane fade show cePane" *ngFor="let subCategory of subCategories[i]; let j=index" [ngClass]="{'active': j === 0}" id="{{subCategory}}{{category}}" role="tabpanel" attr.aria-labelledby="{{subCategory}}{{category}}Tab" style="background-color: white;">
            <div class="row no-padding no-gutters full-height">
              <div class="col-6 col-sm-6 col-lg-6 full-height" id="{{subCategory}}{{category}}MapContainer">
                <div class="full-height" id="{{subCategory}}{{category}}Map"></div>
                <div id="{{subCategory}}{{category}}Capture"></div>
                <div id="{{subCategory}}{{category}}Legend" style="font-family: Arial, sans-serif; background-color: rgba(255,255,255,0.5); padding: 10px; margin: 10px; border: 3px solid #000; display: none;"><h5>Legend</h5></div>
                <!--<button class="btn btn-secondary full-height collapseButton" id="collapseButton{{subCategory}}{{category}}Map" style="background-color: white;" (click)="collapse(subCategory, category, 'Map')"><i class="fa fa-angle-double-left" style="font-size: 18px; color: #1F415D"></i></button>-->
            </div>
            <div class="col-6 col-sm-6 col-lg-6 full-height" id="{{subCategory}}{{category}}ChartContainer">
              <!--<button class="btn btn-secondary full-height collapseButton" id="collapseButton{{subCategory}}{{category}}Chart" style="background-color: white;" (click)="collapse(subCategory, category, 'Chart')"><i class="fa fa-angle-double-right" style="font-size: 18px;  color: #1F415D"></i></button>-->
              <canvas id="{{subCategory}}{{category}}Chart" class="full-height" style="display: none"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



<!--<app-footer></app-footer>-->



</div>
