.form-group {

  padding-top: 5%;
}


/*.btn {*/


  /*margin-top: 35%;*/
  /*margin-left: 10%;*/

  /*border-color: black;*/
  /*background-color: gainsboro;*/
/*}*/


.element.style {


  margin-top: 35%;

  padding-top: 20%;
}




a {
  color: white;
}

a:hover {
  background-color: #acacac;
}

.nav-tabs .nav-link {
  border: 2px ridge white;
}
.nav-tabs {
  border-bottom: 0;
}

.zoom:hover {
  transform: scale(1.5);
}

.container-fluid {
  overflow-y: hidden;
}

label {
  color: white;
}

#queryButtonCE {
  color: white;
}

#queryButtonCE:hover {
  color: #1F415D;
}

h5 {
  color: #1F415D;
  font-size: 18px;
}
