<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<!--<app-login></app-login>-->
<!--<app-live-monitoring></app-live-monitoring>-->
<!--<app-modules></app-modules>-->
