<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 no-padding"></div>
    <div class="col-sm-4 align-self-center no-padding">
      <img src="../../assets/img/logo.png" alt="" class="img-fluid">
      <div class="form-group">
        <label for="username" id="labelUsername">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" title="Username">
      </div>
      <div class="form-group">
        <label for="pwd" id="labelPassword">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
      </div>
      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4" style="padding-left: 0" id="captcha">
          <div class="g-recaptcha" data-sitekey="6LfLTlEUAAAAABj4TZZ4PLqh_tAWMORDjK1upiQk"></div>
        </div>
      </div>
      <div class="row" style="margin-top: 2%">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
          <!--<div class="g-recaptcha" data-sitekey="6LfLTlEUAAAAABj4TZZ4PLqh_tAWMORDjK1upiQk"></div>-->
          <div class="text-center" style="margin-right: 25%; padding-top: 2%;">
            <button class="btn btn-secondary" style="margin-left: -45%;" (click)="login()">Log In</button>
          </div>
        </div>
      <!--<div class="progress" id="progress" style="visibility: hidden;">-->
        <!--<div class="progress-bar progress-bar-striped progress-bar-animated active" style="width:40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" role="progressbar">40%</div>-->
      <!--</div>-->

    </div>
      <!--<div class="row">-->
        <!--<div class="col-sm-4"></div>-->
        <!--<div class="col-sm-8">-->
          <!--<div class="checkbox" style="margin-left: 0%; padding-top: 1%;">-->
            <!--<label id="rememberMe"><input type="checkbox" name="remember"> Remember me</label>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
  </div>
</div>
</div>
