@media only screen and (min-height: 769px) {
  .img-fluid {
    padding-bottom: 5%;
    padding-top: 5%;
    width: 80%;
  }
  #rememberMe {
    margin-left: 10%;
  }
  #captcha {
    margin-left: 9.5%;
  }
  #username {
    width: 49%;
  }
  #pwd {
    width: 49%;
  }
}

.form-control {
  margin-left: 25%;
  width: 50%;
}

label {
  color: white;
  margin-left: 25%;
}

.checkbox {

    margin-left: 90%;
    padding:30% right;
}

.btn-secondary {

    color: #1f425e;
    background-color: lightgray;


}



.img-fluid {
  max-width: 200%;
}


@media only screen and (max-height: 768px) {
  .img-fluid {
    padding-bottom: 5%;
    padding-top: 5%;
    width: 75%;
  }
  #rememberMe {
    margin-left: 2%;
  }
  #captcha {
    margin-left: 5%;
  }
  #username {
    width: 71%;
    margin-left: 20%;
  }
  #pwd {
    width: 71%;
    margin-left: 20%;
  }

  #labelUsername {
    margin-left: 20%;
  }
  #labelPassword {
    margin-left: 20%;
  }
}
